.md3-dialog {
    background: transparent;
    border: none;
    padding: 0;
    margin: auto;
    color: inherit;
    max-width: 560px;
    min-width: 280px;
    width: fit-content;
}

.md3-dialog::backdrop {
    background: rgba(0, 0, 0, 0.32);
    /* scrim color */
    animation: fadeIn 0.2s ease-out;
}

.md3-dialog-content {
    background-color: var(--md-sys-color-surface-container-high);
    color: var(--md-sys-color-on-surface);
    border-radius: 28px;
    padding: 24px;
    box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 16px;
    animation: scaleIn 0.2s ease-out;
    overflow: visible;
    /* Prevent scrollbar */
}

.md3-dialog-headline {
    margin: 0;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    /* Regular */
    color: var(--md-sys-color-on-surface);
    align-self: flex-start;
}

.md3-dialog-supporting-text {
    font-size: 14px;
    line-height: 20px;
    color: var(--md-sys-color-on-surface-variant);
}

.md3-dialog-actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 8px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}