.m3-icon-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background: transparent;
    color: var(--md-sys-color-on-surface-variant);
    transition: all 0.2s;
    font-size: 24px;
    /* Icon size */
}

.m3-icon-button:disabled {
    opacity: 0.38;
    cursor: not-allowed;
}

/* Standard */
.m3-icon-button--standard:hover:not(:disabled) {
    background-color: var(--md-sys-color-surface-variant);
    color: var(--md-sys-color-on-surface-variant);
}

.m3-icon-button--standard.m3-icon-button--selected {
    color: var(--md-sys-color-primary);
}

/* Filled */
.m3-icon-button--filled {
    background-color: var(--md-sys-color-surface-container-highest);
    color: var(--md-sys-color-primary);
}

.m3-icon-button--filled.m3-icon-button--selected {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
}

.m3-icon-button--filled:hover:not(:disabled) {
    filter: brightness(1.1);
}

/* Tonal */
.m3-icon-button--tonal {
    background-color: var(--md-sys-color-surface-container-highest);
    color: var(--md-sys-color-on-surface-variant);
}

.m3-icon-button--tonal.m3-icon-button--selected {
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
}